
.vs/

FreshBuy/obj/Debug/FreshBuy.csprojAssemblyReference.cache

FreshBuy/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs

FreshBuy/bin/FreshBuy.pdb

FreshBuy/bin/FreshBuy.dll

FreshBuy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

FreshBuy/obj/Debug/FreshBuy.dll

FreshBuy/obj/Debug/FreshBuy.pdb
