<!-- Toolbar -->
<div class="toolbar">
  <h3 class="center">Vista Administración</h3>
  <a class="logout" [routerLink]='["/"]'>Cerrar Sesión</a>
</div>

<div class="second-header">
  <img src="./../../assets/img/freshbuy_logo.png" width="10%" style="padding-left: 90px; padding-top: 70px;"/>
</div>


<div class class="content" role="main">

  <div class="sidemenu">
    <div class="container">
      <div class="container-btn1001">
        <button class="btn1001" routerLink = "/client">
          Gestión de Productores
        </button>
      </div>
      <div class="container">
        <div class="container-btn1001">
          <button class="btn1001" routerLink = "/client">
            Administración de Afiliaciones
          </button>
      </div>
      </div>
      <div class="container">
        <div class="container-btn1001">
          <button class="btn1001" routerLink = "/client">
            Gestión de Categorías
          </button>
        </div>
       </div>
        <div class="container">
          <div class="container-btn1001">
            <button class="btn1001" routerLink = "/client">
              Vista de Reportes
            </button>
          </div>
        </div>

    </div>
  </div>



</div>


