
<div class="jumbotron">
    <img src="https://res.cloudinary.com/dek4evg4t/image/upload/v1601485069/CE3101/Tarea%20Corta/freshbuy_logo_minsize.png" width="30%" />
    <h3>Consola de Eventos</h3>
    <p>
        <a href="https://github.com/ce-itcr/FreshBuy" class="btn btn-primary btn-lg" style="        background-color: #509e2f;
        border-color: #509e2f;">Más información &raquo;</a>
    </p>
</div>

<div class="console jumbotron"></div>