<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
          Inicia Sesión en tu cuenta para continuar
        </span>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
          <input id="first-name" class="input100" #username_html type="text" name="username" placeholder="Nombre de Usuario">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input class="input100" #password_html type="password" name="pass" placeholder="Contraseña">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="btnClick(username_html.value, password_html.value)">
            Iniciar Sesión
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
          <span class="txt1">
            ¿Olvidó su
          </span>

          <a href="#" class="txt2">
            Nombre de Usuario / Contraseña?
          </a>
        </div>

        <div class="w-full text-center">
          <span class="txt1">
            ¿Aún no tiene cuenta?
          </span>
          <a href="#" class="txt3" [routerLink]='["/register"]'>
            Registrese.
          </a>
        </div>
      </form>

      <div class="login100-more">
        <img src="./../../assets/img/freshbuy_logo.png" width="50%" style="padding-left: 7%;padding-top: 10%;"/>
        <h1 class="txt1_welcome" style="font-size: 40px;padding-top: 15%;padding-left: 12%;">Bienvenido a <b>Fresh Buy</b></h1>
        <h3 class="txt1_welcome" style="padding-top: 0;padding-left: 12%;">Poductos frescos hasta la puerta de tu casa</h3>
        <img class="center" src="./../../assets/img/module_login.png" style="padding-top: 55%;padding-left: 0.5%;width: 585px;"/>
      </div>
    </div>
  </div>
</div>

<app-data-table></app-data-table>

