<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">FreshBuy</div>
    <div class="list-group list-group-flush">
      <a href="./producerManagement" class="list-group-item list-group-item-action bg-light">Gestión de Productores</a>
      <a href="./affiliationManagement" class="list-group-item list-group-item-action bg-light">Administración de Afiliaciones</a>
      <a href="./categoryManagement" class="list-group-item list-group-item-action bg-light">Gestión de Categorías</a>
      <a href="./reportView" class="list-group-item list-group-item-action bg-light">Vista de Reportes</a>
      <a href="./" class="list-group-item list-group-item-action bg-light">Cerrar Sesión</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary-2" id="menu-toggle">Menú</button>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Vista de Reportes </h1>

      <br>
      <h3>Top 10 productos más vendidos</h3>
      <app-data-table></app-data-table>

      <br>
      <h3>Top 10 productos que generan más ganancias</h3>
      <app-data-table></app-data-table>

      <br>
      <h3>Top 10 productos más vendidos por productor</h3>
      <app-data-table></app-data-table>

      <br>
      <h3>Top 10 clientes con más compras</h3>
      <app-data-table></app-data-table>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


