<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">FreshBuy</div>
    <div class="list-group list-group-flush">
      <a href="./producerManagement" class="list-group-item list-group-item-action bg-light">Gestión de Productores</a>
      <a href="./affiliationManagement" class="list-group-item list-group-item-action bg-light">Administración de Afiliaciones</a>
      <a href="./categoryManagement" class="list-group-item list-group-item-action bg-light">Gestión de Categorías</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Vista de Reportes</a>
      <a href="./" class="list-group-item list-group-item-action bg-light">Cerrar Sesión</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary-2" id="menu-toggle">Menú</button>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Gestión de Categorías </h1>
      <p>Descripción General de la Vista de Administración, funciones etc..</p>


    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


