<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="./../../assets/img/freshbuy_logo.png" width="60%" style="padding-left: 5%;padding-top: 7%;"/></div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" (click)="updateProducers()">Gestión de Productores</a>
      <a class="list-group-item list-group-item-action bg-light">Administración de Afiliaciones</a>
      <a class="list-group-item list-group-item-action bg-light" (click)="updateCategories()">Gestión de Categorías</a>
      <a href="./reportView" class="list-group-item list-group-item-action bg-light">Vista de Reportes</a>
      <a href="./" class="list-group-item list-group-item-action bg-light">Cerrar Sesión</a>
    </div>
    <div class="sidebar-footer" style="padding-bottom: 0%; padding-top: 30%; padding-left: 1%; position: fixed;">
      <h5>FreshBuy - Vista de Administración <br>github.com/ce-itcr/FreshBuy<br><b>Versión 1.0.0</b></h5>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="btn btn-primary-2" id="menu-toggle">Menú</button>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Administración de Afiliaciones </h1>

      <button mat-raised-button (click) = "openModal(accept_affiliation_modal)"> Aceptar Solicitud </button>
      <button mat-raised-button (click) = "openModal(deny_affiliation_modal)"> Denegar Solicitud </button>
      <br><br>

      <app-clients-data-table></app-clients-data-table>

    </div>
  </div>
  <!-- /#page-content-wrapper -->


  <ng-template #deny_affiliation_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Denegar una afiliación de su bodega digital.</h4>
    </div>
    <div class="modal-body" style="justify-content: center;align-items: center;display: inline-block;vertical-align: middle;padding-left: 25%;">
      <form>
        <input #producer_id type="number" placeholder="Id de Productor">
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deny_affiliation(producer_id.value)" (click)="modal.close()">Denegar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
    </div>
  </ng-template>

  <ng-template #accept_affiliation_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Aceptar una afiliación de su bodega digital.</h4>
    </div>
    <div class="modal-body" style="justify-content: center;align-items: center;display: inline-block;vertical-align: middle;padding-left: 25%;">
      <form>
        <input #producer_id type="number" placeholder="Id de Productor">
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="accept_affiliation(producer_id.value)" (click)="modal.close()">Aceptar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
    </div>
  </ng-template>

</div>
<!-- /#wrapper -->


