<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>firstName</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>lastName</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>

    <!-- province Column -->
    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>province</th>
      <td mat-cell *matCellDef="let row">{{row.province}}</td>
    </ng-container>

    <!-- canton Column -->
    <ng-container matColumnDef="canton">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>canton</th>
      <td mat-cell *matCellDef="let row">{{row.canton}}</td>
    </ng-container>

    <!-- district Column -->
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>district</th>
      <td mat-cell *matCellDef="let row">{{row.district}}</td>
    </ng-container>

    <!-- birthDate Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>birthDate</th>
      <td mat-cell *matCellDef="let row">{{row.birthDate}}</td>
    </ng-container>

    <!-- phoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>phoneNumber</th>
      <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
    </ng-container>

    <!-- sinpeNumber Column -->
    <ng-container matColumnDef="sinpeNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>sinpeNumber</th>
      <td mat-cell *matCellDef="let row">{{row.sinpeNumber}}</td>
    </ng-container>

    <!-- deliveryLocations Column -->
    <ng-container matColumnDef="deliveryLocations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>deliveryLocations</th>
      <td mat-cell *matCellDef="let row">{{row.deliveryLocations}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
