<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="./../../assets/img/freshbuy_logo.png" width="60%" style="padding-left: 5%;padding-top: 7%;"/></div>
    <div class="list-group list-group-flush">
      <a href="./productsManagement" class="list-group-item list-group-item-action bg-light">Gestión de Productos</a>
      <a href="./ordersManagement" class="list-group-item list-group-item-action bg-light">Gestión de Pedidos</a>
      <a href="./" class="list-group-item list-group-item-action bg-light">Cerrar Sesión</a>
    </div>
    <div class="sidebar-footer" style="padding-bottom: 0%; padding-top: 30%; padding-left: 1%; position: fixed;">
      <h5>FreshBuy - Vista de Productor <br>github.com/ce-itcr/FreshBuy<br><b>Versión 1.0.0</b></h5>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="btn btn-primary-2" id="menu-toggle">Menú</button>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Gestión de Productos </h1>

      <button mat-raised-button> Crear Producto </button>
      <button mat-raised-button> Eliminar Producto </button>
      <button mat-raised-button> Actualizar Producto </button>

      <br><br>

      <app-data-table></app-data-table>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

