<img src="./../../assets/img/login_module_bg.jpg" class="img-fluid" style="position:fixed; right: 0; top: 0; z-index: -100; opacity: 0.35;">

  <div class="container-login1001">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
          Seleccione el perfil que más se adecúa a usted:
        </span>

        <div class="container-login100-form-btn">
          <button class="login1001-form-btn" routerLink = "/producer">
            Productor
          </button>
        </div>

        <div class="container-login100-form-btn">
          <button class="login1001-form-btn" routerLink = "/client">
            Consumidor
          </button>
        </div>

        <div class="w-full text-center">
          <span class="txt1">
            ¿Ya posee una cuenta?
          </span>
          <a href="#" class="txt3" [routerLink]='["/logIn"]'>
            Inicie Sesión.
          </a>
        </div>
        <span></span>
      </form>

      <div class="login100-more">
        <img src="./../../assets/img/freshbuy_logo.png" width="50%" style="padding-left: 7%;padding-top: 10%;"/>
        <h1 class="txt1_welcome" style="font-size: 40px;padding-top: 15%;padding-left: 12%;">Bienvenido a <b>Fresh Buy</b></h1>
        <h3 class="txt1_welcome" style="padding-top: 0;padding-left: 12%;">Poductos frescos hasta la puerta de tu casa</h3>
       <img class="center" src="./../../assets/img/module_login.png" style="padding-top: 55%;padding-left: 0%;width: 578px;"/>
      </div>
    </div>

