<!--<div class="content" role="main">

    <label> <h4>ID</h4> <input type="text" class = "from-control" required minlength = "9" maxlength="9" #htmlID id="htmlID" /></label>
    <div *ngIf = "htmlID.invalid">
      ID is requierd.
    </div>

    <label> <h4>Nombre Completo</h4> <input type="text" #htmlName id="htmlName" /></label>

    <label> <h4>Dirección</h4> <input type="text" #htmlAdress id="htmlAdress" /></label>

    <label> <h4>Fecha de Nacimiento</h4> <input type="text" #htmlBirthday id="htmlBirthday" /></label>

    <label> <h4>Número Telefónico</h4> <input type="text" #htmlTelephone id="htmlTelephone" /></label>

    <label> <h4>SINPE</h4> <input type="text" #htmlSINPE id="htmlSINPE" /></label>

    <br>
    <button class="btn btn-primary" (click)="registerData(htmlID.value, htmlName.value,
                                             htmlAdress.value, htmlBirthday.value,
                                             htmlTelephone.value, htmlSINPE.value)">
    Solicitar Afiliación</button>
    <br/>

</div>-->

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login1001-form validate-form">

        <span class="login100-form-title p-b-34">
          Solicite la afiliación de su tramo a FreshBuy:
        </span>

        <div class="wrap-input100 " >
          <input id="person-id" class="input100" #person_id type="text" name="person-id" placeholder="Número de Cédula">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 ">
          <input id="first-name" class="input100" #first_name type="text" name="first-name" placeholder="Nombre">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <input id="last-name" class="input100" #last_name type="text" name="last-name" placeholder="Apellido">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <input id="province" class="input100" #province type="text" name="province" placeholder="Provincia">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100" >
          <input id="canton" class="input100" #canton type="text" name="canton" placeholder="Cantón">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100" >
          <input id="district" class="input100" #district type="text" name="district" placeholder="Distrito">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <input id="birth-date" class="input100" #birt_date type="text" name="birth-date" placeholder="Fecha de Nacimiento">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <input id="phone-number" class="input100" #phone_number type="text" name="phone-number" placeholder="Número de Teléfono">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100" data-validate="Type user name">
          <input id="sinpe-number" class="input100" #sinpe_number type="text" name="sinpe-number" placeholder="Número de SINPE">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100" data-validate="Type user name">
          <input id="delivery-locations" class="input100" #delivery_locations type="text" name="delivery-locations" placeholder="Lugares de Entrega">
          <span class="focus-input100"></span>
        </div>

        <span class="login100-form-title p-b-34">
        </span>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" routerLink = "/client">
            Solicitar Afiliación
          </button>
        </div>

      </form>

      <div class="login100-more">
        <img src="./../../assets/img/freshbuy_logo.png" width="50%" style="padding-left: 7%;padding-top: 10%;"/>
        <h1 class="txt1_welcome" style="font-size: 40px;padding-top: 15%;padding-left: 12%;">Bienvenido a <b>Fresh Buy</b></h1>
        <h3 class="txt1_welcome" style="padding-top: 0;padding-left: 12%;">Poductos frescos hasta la puerta de tu casa</h3>
        <img class="center" src="./../../assets/img/module_login.png" style="padding-top: 55%;padding-left: 0.5%;width: 585px;"/>
      </div>

    </div>
  </div>
</div>

